@model LoginModel
@{
    Layout = "_LayoutLoggedOut";
    ViewData["Title"] = "Login";
}

<style>
    body, html {
        height: 100%;
        margin: 0;
        overflow: hidden;
    }
</style>

<div class="d-flex justify-content-center align-items-center vh-100 bg-white">
    <div class="card shadow border-0 p-4 text-center" style="max-width: 400px; width: 100%;">

        <div class="d-flex justify-content-center mb-3">
            <img src="../Shared/Resources/logo.png"
                 alt="Ícone"
                 class="img-fluid"
                 style="width: 80px; height: 80px; object-fit: contain;" />
        </div>

        <h2 class="text-danger mb-4">Login</h2>

        @if (TempData["MensagemErro"] != null)
        {
            <div class="alert alert-danger alert-dismissible fade show" role="alert">
                @TempData["MensagemErro"]
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        }

        @if (TempData["MensagemSucesso"] != null)
        {
            <div class="alert alert-success alert-dismissible fade show" role="alert">
                @TempData["MensagemSucesso"]
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        }

        <form asp-controller="Login" asp-action="Login" method="post">
            <div class="mb-3 text-start">
                <label for="login" class="form-label">Login</label>
                <input type="text" asp-for="Login" class="form-control" id="login" placeholder="Digite seu login">
                @Html.ValidationMessageFor(x => x.Login, "", new { @class = "text-danger" })
            </div>
            <div class="mb-3 text-start">
                <label for="password" class="form-label">Senha</label>
                <input type="password" asp-for="Password" class="form-control" id="password" placeholder="Digite sua senha">
                @Html.ValidationMessageFor(x => x.Password, "", new { @class = "text-danger" })
            </div>

            <div class="mb-3">
                <small>
                    Esqueceu sua senha?
                    <a asp-action="ResetPassword" asp-controller="Login" class="text-danger fw-bold">Redefinir minha senha</a>
                </small>
            </div>

            <button type="submit" class="btn btn-danger w-100">Entrar</button>
        </form>
    </div>
</div>
