html {
  font-size: 14px;
}

::-webkit-scrollbar {
    width: 12px;
    height: 12px;
}

::-webkit-scrollbar-track {
    background: #fff;
    border-radius: 6px;
}

::-webkit-scrollbar-thumb {
    background: #e74c3c;
    border-radius: 6px;
    border: 3px solid #fff;
}

    ::-webkit-scrollbar-thumb:hover {
        background: #c0392b;
    }

* {
    scrollbar-width: thin;
    scrollbar-color: #e74c3c #ffffff;
}


@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.field-validation-error{
    color: #e01d1d;
    font-size: 15px;
}

.close-alert{
    position: absolute;
    right: -10px;
    top: -15px;
    border-radius: 15px;
    width: 30px;
    height: 31px;
}
