@model Warden.Models.StockMovementModel;

@{
    ViewData["Title"] = "Nova Movimentação de Estoque";
}

<h1 class="mb-4">Nova Movimentação de Estoque</h1>

<form asp-action="Create" method="post">
    <div class="mb-3">
        <label asp-for="ProductId" class="form-label">Produto</label>
        <select asp-for="ProductId" class="form-control" asp-items="ViewBag.ProductId">
            <option value="">Selecione um produto</option>
        </select>
        <span asp-validation-for="ProductId" class="text-danger"></span>
    </div>

    <div class="mb-3">
        <label class="form-label">Tipo</label>
        <select asp-for="Type" class="form-control" asp-items="Html.GetEnumSelectList<Warden.Enums.MovementTypeEnum>()"></select>
    </div>
    <div class="mb-3">
        <label class="form-label">Quantidade</label>
        <input asp-for="Quantity" class="form-control" />
    </div>
    <button type="submit" class="btn btn-success">Salvar</button>
    <a asp-action="Index" class="btn btn-secondary">Voltar</a>
</form>
