@model ContactModel
@{
    ViewData["Title"] = "Deletar Contatos";
}

<div class="text-center">
    <h3 class="display-4">Realmente deseja Apagar o Contato: @Model.Name?</h3>
</div>

<a class="btn btn-primary" role="button" asp-controller="Contact" asp-action="Index">Cancelar Exclusão</a>
<a class="btn btn-danger" role="button" asp-controller="Contact" asp-action="DeleteContact" asp-route-id="@Model.Id">Confirmar Exclusão</a>