@model ContactModel
@{
    ViewData["Title"] = "Deletar Contatos";
}

<div class="text-center">
    <h3 class="display-4">Realmente deseja Apagar o Contato: @Model.Name?</h3>
</div>

<form asp-controller="Contact" asp-action="DeleteConfirmed" method="post" style="display:inline;">
    <input type="hidden" name="id" value="@Model.Id" />
    <button type="submit" class="btn btn-danger">Confirmar Exclusão</button>
</form>
<a class="btn btn-secondary" asp-controller="Contact" asp-action="Index">Cancelar Exclusão</a>
