@model UserModel

<nav>
    <div class="container-fluid d-flex justify-content-between align-items-center">
        <a class="navbar-brand text-danger fw-bold" asp-area="" asp-controller="Home" asp-action="Index">
            Olá, @Model.Name
        </a>

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#mainNavbar" aria-controls="mainNavbar" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse justify-content-end" id="mainNavbar">
            <ul class="navbar-nav me-3 gap-2">
                <li class="nav-item">
                    <a class="nav-link text-danger" asp-controller="Home" asp-action="Index">🏠 Página Inicial</a>
                </li>
                         
                <li class="nav-item">
                    <a class="nav-link text-success" asp-controller="Sale" asp-action="Index">🛒 PDV</a>
                </li>
                <li>
                    <a class="nav-link text-dark" asp-controller="CashRegister" asp-action="Index">💰 Caixa</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-danger" asp-controller="Contact" asp-action="Index">📞 Fornecedores</a>
                </li>
                @if (Model.Profile == Warden.Enums.ProfileEnum.Admin)
                {
                    <li class="nav-item">
                        <a class="nav-link text-danger" asp-controller="User" asp-action="Index">👤 Usuários</a>
                    </li>
                }
            </ul>
            <div class="dropdown">
                <button class="btn btn-outline-dark dropdown-toggle" type="button" id="userMenuButton" data-bs-toggle="dropdown" aria-expanded="false">
                    📦 Estoque
                </button>
                <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="userMenuButton">
                    <li>
                        <a class="nav-link text-dark" asp-controller="Product" asp-action="Index">📦 Produtos</a>
                    </li>
                    <li>
                        <a class="nav-link text-dark" asp-controller="StockMovement" asp-action="Index">📊 Movimentações</a>
                    </li>
                </ul>
            </div>
            <div class="dropdown">
                <button class="btn btn-outline-dark dropdown-toggle" type="button" id="userMenuButton" data-bs-toggle="dropdown" aria-expanded="false">
                    ⚙️ Menu
                </button>
                <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="userMenuButton">
                    <li>
                        <a class="dropdown-item" asp-controller="EditPassword" asp-action="Index">🔑 Alterar Senha</a>
                    </li>
                    <li>
                        <a class="dropdown-item" asp-controller="Login" asp-action="Logout">🚪 Sair</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</nav>
